# Books
books/**/results
books/**/input
books/**/research

# Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.webp
*.ico
*.heic
*.heif
*.psd
*.ai
*.eps
*.raw

# PDFs
*.pdf
*.ps
*.eps
*.raw
.DS_Store
__pycache__/
*.pyc
*.pyo
